p.portfolioTitle {
    text-align: left;
	font-size: 0.8em;
	line-height: 1.4em
}

p.portfolioBody{
    text-align: left;
	font-size: 0.8em;
	line-height: 1.2em;
    margin:2em;
}

.img-centered{
	display: block;
	margin: 0 auto;
}
